<ion-content [fullscreen]="true" class="ion-padding">
  <img
    class="absolute -top-[30%] left-0 scale-[2]"
    src="assets/images/primary-texture.svg"
  />
  <div class="relative z-10 flex h-full flex-col">
    <div class="relative flex-[10%] [&>img]:scale-90">
      <button
        size="m"
        tuiIconButton
        shape="rounded"
        appearance="secondary"
        icon="assets/icons/chevron-back-outline.svg"
        class="z-10"
      ></button>
    </div>
    <div class="flex-[60%]">
      <div class="p-5 text-center">
        <h3 class="text-2xl font-semibold">Персональные данные</h3>
        <p class="py-5">
          Введите свою личную информацию, чтобы запустить приложение
        </p>
      </div>

      <div class="grid gap-5">
        <label tuiLabel="Ваша имя">
          <tui-input [tuiTextfieldLabelOutside]="true" [formControl]="">
            Введите ваше имя
            <input tuiTextfield />
          </tui-input>
        </label>
        <label tuiLabel="Выберите город">
          <tui-input [tuiTextfieldLabelOutside]="true" [formControl]="">
            Город
            <input tuiTextfield />
          </tui-input>
        </label>
        <label tuiLabel="Дополнительный номер">
          <tui-input [tuiTextfieldLabelOutside]="true" [formControl]="">
            Введите дополнительный номер
            <input tuiTextfield />
          </tui-input>
        </label>
        <label tuiLabel="Выберите ваш роль">
          <div tuiGroup>
            <tui-radio-block
              size="m"
              item="r1"
              [hideRadio]="true"
              [(ngModel)]="type"
            >
              Заказчик
            </tui-radio-block>
            <tui-radio-block
              size="m"
              item="r2"
              [hideRadio]="true"
              [(ngModel)]="type"
            >
              Исполнитель
            </tui-radio-block>
          </div>
        </label>
      </div>
    </div>
    <div class="flex-[35%]"></div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="primary-toolbar">
    <ion-button expand="block">Выбрать</ion-button>
  </ion-toolbar>
</ion-footer>
