<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" src="assets/icon/home.svg"></ion-icon>
      <ion-label>Главная</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon aria-hidden="true" src="assets/icon/menu.svg"></ion-icon>
      <ion-label>Меню</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="reserve">
      <ion-icon aria-hidden="true" src="assets/icon/reserve.svg"></ion-icon>
      <ion-label>Бронирования</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="basket">
      <ion-icon aria-hidden="true" src="assets/icon/basket.svg"></ion-icon>
      <ion-label>Корзина</ion-label>
      <ion-badge color="danger">2</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" src="assets/icon/user.svg"></ion-icon>
      <ion-label>Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
