<ion-header [translucent]="true">
  <ion-toolbar class="primary-toolbar">
    <div class="primary-toolbar--inner">
      <ion-title>Заказы</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-segment [(ngModel)]="activeSegment">
    <ion-segment-button value="active">
      <ion-label class="text-base">Мои заказы</ion-label>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label class="text-base">История заказов</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="grid gap-3 pt-5">
    <ng-container *ngIf="activeSegment === 'active'">
      <article class="card">
        <div class="flex gap-1">
          <ion-button color="light" size="small">Ташкент</ion-button>
          <ion-button color="light" size="small">13.11.2023</ion-button>
        </div>
        <div class="line-clamp-2 py-3">
          <p class="text-base font-semibold text-dark">Заказ №10785</p>
        </div>
        <div class="flex items-center">
          <p class="pr-2 text-medium">Категория:</p>
          <span class="text-sm font-medium text-primary">Сантехника</span>
        </div>
        <div class="flex items-center">
          <p class="pr-2 text-medium">Время поиска:</p>
          <span class="text-sm font-medium text-primary">2 часа 55 минут</span>
        </div>
        <div class="grid pt-3">
          <ion-button>Приостановить поиск</ion-button>
          <ion-button color="secondary">Завершить заказ</ion-button>
        </div>
      </article>
    </ng-container>
    <ng-container *ngIf="activeSegment === 'history'">
      <article class="card">
        <div class="flex items-center gap-3">
          <button
            size="l"
            tuiIconButton
            icon="assets/icons/checkmark-outline.svg"
            appearance="secondary"
          ></button>
          <div class="flex-auto">
            <p class="text-base font-semibold text-dark">Заказ №10785</p>
            <p class="text-sm text-tertiary">14 ноября 2023</p>
          </div>
        </div>
        <div class="py-3 text-base font-medium text-dark">
          К сожалению заказ был завершен без исполнителя закажите ещё
        </div>
        <div class="flex items-center">
          <p class="text-base font-semibold text-primary">Завершен</p>
          <p class="ml-auto text-base text-tertiary">13:36</p>
        </div>
      </article>
    </ng-container>
  </div>

  <!-- <tui-block-status> 
      <img
        class="!h-60 !w-60"
        src="assets/block-status/empty-myorders.svg"
        tuiSlot="top"
      />
      <h4>У вас пока нет активных заказов</h4>
      <ion-button tuiSlot="bottom">Создать заказ</ion-button>
    </tui-block-status> -->
</ion-content>
