@font-face {
	font-family: Geist;
	font-display: swap;
	src: local("Geist"), url("../fonts/Geist-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Geist;
	font-display: swap;
	src: local("Geist"), url("../fonts/Geist-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Geist;
	font-display: swap;
	src: local("Geist"), url("../fonts/Geist-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Geist;
	font-display: swap;
	src: local("Geist"), url("../fonts/Geist-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: GeistMono;
	font-display: swap;
	src: local("GeistMono"), url("../fonts/GeistMono-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: GeistMono;
	font-display: swap;
	src: local("GeistMono"), url("../fonts/GeistMono-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: GeistMono;
	font-display: swap;
	src: local("GeistMono"), url("../fonts/GeistMono-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: GeistMono;
	font-display: swap;
	src: local("GeistMono"), url("../fonts/GeistMono-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: GeistMono;
	font-display: swap;
	src: local("GeistMono"), url("../fonts/GeistMono-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Pixeboy;
	font-display: swap;
	src: local("Pixeboy"), url("../fonts/Pixeboy.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: SFProText;
	font-display: swap;
	src: local("SFProText"), url("../fonts/SFProText-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: SFProText;
	font-display: swap;
	src: local("SFProText"), url("../fonts/SFProText-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: SFProText;
	font-display: swap;
	src: local("SFProText"), url("../fonts/SFProText-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

