<div class="grid md:grid-cols-3 gap-5">
  <div class="grid gap-3">
    <tui-accordion-item class="accordion-item">
      <p class="text-lg font-medium">Авто</p>
      <ng-template tuiAccordionItemContent class="!p-1">
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Авто
        </ion-toggle>
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Вызов Автомойки
        </ion-toggle>
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item class="accordion-item">
      <p class="text-lg font-medium">Авто</p>
      <ng-template tuiAccordionItemContent class="!p-1">
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Авто
        </ion-toggle>
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Вызов Автомойки
        </ion-toggle>
      </ng-template>
    </tui-accordion-item>
  </div>
  <div class="grid gap-3">
    <tui-accordion-item class="accordion-item">
      <p class="text-lg font-medium">Авто</p>
      <ng-template tuiAccordionItemContent class="!p-1">
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Авто
        </ion-toggle>
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Вызов Автомойки
        </ion-toggle>
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item class="accordion-item">
      <p class="text-lg font-medium">Авто</p>
      <ng-template tuiAccordionItemContent class="!p-1">
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Авто
        </ion-toggle>
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Вызов Автомойки
        </ion-toggle>
      </ng-template>
    </tui-accordion-item>
  </div>
  <div class="grid gap-3">
    <tui-accordion-item class="accordion-item">
      <p class="text-lg font-medium">Авто</p>
      <ng-template tuiAccordionItemContent class="!p-1">
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Авто
        </ion-toggle>
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Вызов Автомойки
        </ion-toggle>
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item class="accordion-item">
      <p class="text-lg font-medium">Авто</p>
      <ng-template tuiAccordionItemContent class="!p-1">
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Авто
        </ion-toggle>
        <ion-toggle
          [checked]="true"
          [enableOnOffLabels]="true"
          justify="space-between"
          class="w-full py-2"
        >
          Вызов Автомойки
        </ion-toggle>
      </ng-template>
    </tui-accordion-item>
  </div>
</div>
