<footer class="footer">
  <div class="footer__container">
    <div class="footer__main">
      <div class="footer__col">
        <a class="footer__logo" routerLink="/">
          <img src="images/logo.svg" alt="" />
        </a>
        <div class="footer__apps">
          <a href="#" target="_blank">
            <img src="images/app-store.svg" alt="" />
          </a>
          <a href="#" target="_blank">
            <img src="images/app-play-market.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__menu">
          <ul class="footer__menu--list">
            <li class="footer__menu--item">
              <a routerLink="/" class="footer__menu--link"> Новый заказ </a>
            </li>
            <li class="footer__menu--item">
              <a routerLink="/" class="footer__menu--link"> Все категории </a>
            </li>
            <li class="footer__menu--item">
              <a routerLink="/" class="footer__menu--link"> Все заявки </a>
            </li>
            <li class="footer__menu--item">
              <a routerLink="/" class="footer__menu--link"> Все специалисты </a>
            </li>
          </ul>
          <ul class="footer__menu--list">
            <li class="footer__menu--item">
              <a routerLink="/" class="footer__menu--link"> О компании </a>
            </li>
            <li class="footer__menu--item">
              <a routerLink="/" class="footer__menu--link"> Вакансии </a>
            </li>
            <li class="footer__menu--item">
              <a routerLink="/" class="footer__menu--link"> Блог </a>
            </li>
            <li class="footer__menu--item">
              <a routerLink="/" class="footer__menu--link">
                Политика конфиденциальности
              </a>
            </li>
            <li class="footer__menu--item">
              <a routerLink="/" class="footer__menu--link">
                Публичная оферта
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__cards">
          <div class="footer__card">
            <img src="images/payment/uzcard.png" alt="" />
          </div>
          <div class="footer__card">
            <img src="images/payment/payme.png" alt="" />
          </div>
          <div class="footer__card">
            <img src="images/payment/click.png" alt="" />
          </div>
          <div class="footer__card">
            <img src="images/payment/visa.png" alt="" />
          </div>
          <div class="footer__card">
            <img src="images/payment/mastercard.png" alt="" />
          </div>
          <div class="footer__card">
            <img src="images/payment/uzum.png" alt="" />
          </div>
        </div>
        <div class="footer__social">
          <a href="#" target="_blank">
            <button
              size="m"
              tuiIconButton
              shape="rounded"
              appearance="primary"
              icon="icons/telegram.svg"
            ></button>
          </a>
          <a href="#" target="_blank">
            <button
              size="m"
              tuiIconButton
              shape="rounded"
              appearance="primary"
              icon="icons/instagram.svg"
            ></button>
          </a>
          <a href="#" target="_blank">
            <button
              size="m"
              tuiIconButton
              shape="rounded"
              appearance="primary"
              icon="icons/facebook.svg"
            ></button>
          </a>
          <a href="#" target="_blank">
            <button
              size="m"
              tuiIconButton
              shape="rounded"
              appearance="primary"
              icon="icons/youtube.svg"
            ></button>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="font-medium text-dark">Все права защищены © 2022 Profi24</p>
      <button
        size="m"
        tuiIconButton
        shape="rounded"
        appearance="primary"
        icon="icons/chevron-up.svg"
      ></button>
    </div>
  </div>
</footer>
