.accordion-item {
  --_bg-color: var(--light);
  --_border-radius: 12px;

  background: var(--_bg-color);

  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 0 1rem;
  height: 3.5rem;
}

.accordion-item.outlined {
  --_bg-color: white;

  border: 1px solid #ebebeb;
}

.accordion-item__image {
  flex: 0 0 70px;
  height: 100%;
  object-fit: contain;
  padding-top: 8px;
}

.accordion-item__title {
  flex: 1 1 auto;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.accordion-item__title.outlined {
  text-align: left;
}

.accordion-item__content {
  margin-top: 8px;
}

.accordion-item__content.outlined {
  border-radius: 12px;

  border: 1px solid #ebebeb;
  padding: 1rem;
}
