<ion-content [fullscreen]="true" class="ion-padding">
  <section>
    <header class="info-header">
      <div class="info-header__start"></div>
      <div class="info-header__end">
        <ion-icon name="share-outline" size="large"></ion-icon>
      </div>
    </header>
    <ion-title>
      <span class="ion-text-wrap"> Вы успешно забронировали стол! </span>
    </ion-title>
    <h3>Вас ожидают</h3>
    <ion-text></ion-text>
    <h1>
      49 стол <br />
      5 января в 15:50
    </h1>
    <hr />
    <h3>
      Приятного <br />
      времяпровождения!
    </h3>
    <article>
      <img src="/assets/images/auth-start-bg.png" />
    </article>
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button class="success-submit" expand="block">
      супер!
      <!-- перейти в меню -->
    </ion-button>
  </ion-toolbar>
</ion-footer>
