@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --main-banner-bg-cp: 43.115% 3.886%, 43.115% 3.886%, 43.085% 3.255%,
      42.999% 2.658%, 42.861% 2.1%, 42.676% 1.591%, 42.449% 1.138%,
      42.184% 0.75%, 41.887% 0.434%, 41.561% 0.198%, 41.211% 0.051%, 40.842% 0%,
      19.92% 0%, 19.92% 0%, 19.551% 0.051%, 19.201% 0.198%, 18.875% 0.434%,
      18.578% 0.75%, 18.313% 1.138%, 18.086% 1.591%, 17.901% 2.1%,
      17.763% 2.658%, 17.677% 3.255%, 17.647% 3.886%, 17.647% 3.886%,
      17.617% 4.516%, 17.531% 5.114%, 17.393% 5.671%, 17.209% 6.181%,
      16.981% 6.633%, 16.717% 7.022%, 16.419% 7.338%, 16.093% 7.573%,
      15.743% 7.721%, 15.374% 7.771%, 2.674% 7.771%, 2.674% 7.771%, 2.24% 7.831%,
      1.829% 8.004%, 1.445% 8.282%, 1.095% 8.653%, 0.783% 9.11%, 0.516% 9.643%,
      0.298% 10.242%, 0.136% 10.898%, 0.035% 11.601%, 0% 12.343%, 0% 95.429%,
      0% 95.429%, 0.035% 96.17%, 0.136% 96.873%, 0.298% 97.529%, 0.516% 98.128%,
      0.783% 98.661%, 1.095% 99.118%, 1.445% 99.49%, 1.829% 99.767%,
      2.24% 99.94%, 2.674% 100%, 97.327% 100%, 97.327% 100%, 97.76% 99.94%,
      98.171% 99.767%, 98.555% 99.49%, 98.905% 99.118%, 99.217% 98.661%,
      99.484% 98.128%, 99.702% 97.529%, 99.864% 96.873%, 99.965% 96.17%,
      100% 95.429%, 100% 12.343%, 100% 12.343%, 99.965% 11.601%, 99.864% 10.898%,
      99.702% 10.242%, 99.484% 9.643%, 99.217% 9.11%, 98.905% 8.653%,
      98.555% 8.282%, 98.171% 8.004%, 97.76% 7.831%, 97.327% 7.771%,
      45.388% 7.771%, 45.388% 7.771%, 45.019% 7.721%, 44.669% 7.573%,
      44.343% 7.338%, 44.045% 7.022%, 43.781% 6.633%, 43.553% 6.181%,
      43.369% 5.671%, 43.231% 5.114%, 43.145% 4.516%, 43.115% 3.886%;

    --product-bg-cp: 68.621% 4.42%, 68.621% 4.42%, 68.548% 3.703%,
      68.339% 3.023%, 68.005% 2.389%, 67.556% 1.81%, 67.005% 1.295%,
      66.362% 0.853%, 65.639% 0.493%, 64.847% 0.225%, 63.998% 0.058%, 63.103% 0%,
      5.517% 0%, 5.517% 0%, 4.622% 0.058%, 3.773% 0.225%, 2.982% 0.493%,
      2.259% 0.853%, 1.616% 1.295%, 1.065% 1.81%, 0.616% 2.389%, 0.281% 3.023%,
      0.072% 3.703%, 0% 4.42%, 0% 95.58%, 0% 95.58%, 0.072% 96.297%,
      0.281% 96.977%, 0.616% 97.611%, 1.065% 98.19%, 1.616% 98.705%,
      2.259% 99.147%, 2.982% 99.507%, 3.773% 99.775%, 4.622% 99.942%,
      5.517% 100%, 94.483% 100%, 94.483% 100%, 95.378% 99.942%, 96.227% 99.775%,
      97.018% 99.507%, 97.741% 99.147%, 98.384% 98.705%, 98.936% 98.19%,
      99.384% 97.611%, 99.719% 96.977%, 99.928% 96.297%, 100% 95.58%,
      100% 14.035%, 100% 14.035%, 99.928% 13.318%, 99.719% 12.638%,
      99.384% 12.004%, 98.936% 11.425%, 98.384% 10.91%, 97.741% 10.468%,
      97.018% 10.109%, 96.227% 9.841%, 95.378% 9.673%, 94.483% 9.615%,
      74.138% 9.615%, 74.138% 9.615%, 73.243% 9.558%, 72.394% 9.39%,
      71.602% 9.122%, 70.879% 8.763%, 70.237% 8.321%, 69.685% 7.806%,
      69.236% 7.227%, 68.902% 6.593%, 68.693% 5.912%, 68.621% 5.195%,
      68.621% 4.42%;

    --collage-item-cp: 79.083% 6.235%, 79.083% 6.235%, 79.042% 5.224%,
      78.921% 4.264%, 78.729% 3.37%, 78.471% 2.553%, 78.155% 1.826%,
      77.785% 1.203%, 77.37% 0.696%, 76.915% 0.318%, 76.427% 0.082%, 75.913% 0%,
      4.306% 0%, 4.306% 0%, 3.608% 0.111%, 2.945% 0.432%, 2.327% 0.945%,
      1.763% 1.634%, 1.261% 2.481%, 0.831% 3.468%, 0.481% 4.578%, 0.22% 5.793%,
      0.056% 7.097%, 0% 8.471%, 0% 91.529%, 0% 91.529%, 0.056% 92.903%,
      0.22% 94.207%, 0.481% 95.422%, 0.831% 96.532%, 1.261% 97.519%,
      1.763% 98.366%, 2.327% 99.055%, 2.945% 99.568%, 3.608% 99.889%,
      4.306% 100%, 95.694% 100%, 95.694% 100%, 96.392% 99.889%, 97.055% 99.568%,
      97.673% 99.055%, 98.237% 98.366%, 98.739% 97.519%, 99.169% 96.532%,
      99.519% 95.422%, 99.78% 94.207%, 99.944% 92.903%, 100% 91.529%,
      100% 20.941%, 100% 20.941%, 99.944% 19.567%, 99.78% 18.264%,
      99.519% 17.048%, 99.169% 15.939%, 98.739% 14.952%, 98.237% 14.105%,
      97.673% 13.416%, 97.055% 12.902%, 96.392% 12.581%, 95.694% 12.471%,
      82.253% 12.471%, 82.253% 12.471%, 81.739% 12.389%, 81.251% 12.153%,
      80.796% 11.775%, 80.381% 11.268%, 80.011% 10.644%, 79.695% 9.918%,
      79.437% 9.101%, 79.245% 8.206%, 79.125% 7.247%, 79.083% 6.235%;

    --news-item-cp: 100% 4.803%, 100% 4.803%, 99.932% 4.048%, 99.733% 3.331%,
      99.416% 2.663%, 98.991% 2.053%, 98.469% 1.51%, 97.859% 1.044%,
      97.174% 0.665%, 96.424% 0.383%, 95.619% 0.207%, 94.771% 0.146%,
      5.229% 0.146%, 5.229% 0.146%, 4.381% 0.207%, 3.576% 0.383%, 2.826% 0.665%,
      2.141% 1.044%, 1.531% 1.51%, 1.009% 2.053%, 0.584% 2.663%, 0.267% 3.331%,
      0.068% 4.048%, 0% 4.803%, 0% 95.342%, 0% 95.342%, 0.068% 96.098%,
      0.267% 96.814%, 0.584% 97.483%, 1.009% 98.093%, 1.531% 98.636%,
      2.141% 99.101%, 2.826% 99.48%, 3.576% 99.763%, 4.381% 99.939%, 5.229% 100%,
      73.529% 100%, 73.529% 100%, 74.378% 99.939%, 75.182% 99.763%,
      75.932% 99.48%, 76.618% 99.101%, 77.227% 98.636%, 77.749% 98.093%,
      78.175% 97.483%, 78.492% 96.814%, 78.69% 96.098%, 78.758% 95.342%,
      78.758% 88.646%, 78.758% 88.646%, 78.827% 87.891%, 79.025% 87.174%,
      79.342% 86.506%, 79.767% 85.895%, 80.29% 85.353%, 80.899% 84.887%,
      81.584% 84.508%, 82.334% 84.226%, 83.139% 84.049%, 83.987% 83.988%,
      94.771% 83.988%, 94.771% 83.988%, 95.619% 83.927%, 96.424% 83.751%,
      97.174% 83.468%, 97.859% 83.09%, 98.469% 82.624%, 98.991% 82.081%,
      99.416% 81.471%, 99.733% 80.803%, 99.932% 80.086%, 100% 79.33%,
      100% 4.803%;
  }
}
