<ion-header>
  <ion-toolbar>
    <header>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-title>
        <span class="ion-text-wrap">
          <translate
            nameEN="Privacy Policy"
            nameKZ="Құпиялылық саясаты"
            nameRU="Политика конфиденциальности"
          />
        </span>
      </ion-title>
    </header>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <header>
    <h1>Политика конфиденциальности</h1>
    <p>
      Компания ТОО Funsim international (далее - Funsim) придерживается
      принципов конфиденциальности и обязуется защищать личную информацию
      клиентов. Настоящая политика конфиденциальности объясняет, как мы
      собираем, используем, передаем и храним информацию о наших клиентах.
    </p>
  </header>
  <section>
    <article>
      <h5>Сбор информации</h5>
      <p>
        Мы собираем личную информацию о клиентах, включая, но не ограничиваясь,
        следующими данными:
      </p>
    </article>
    <article>
      <h5>Имя и фамилия.</h5>
      <p>Контактная информация (адрес электронной почты, номер телефона).</p>
      <p>
        Данные о местоположении, необходимые для предоставления роуминговых
        услуг.
      </p>
      <p>Информация о платежных картах или других способах оплаты.</p>
    </article>
    <article>
      <h5>Использование информации</h5>
      <b>Мы используем собранную информацию для следующих целей:</b>
      <p>Предоставление роуминговых услуг и обслуживание клиентов.</p>
      <p>Обработка платежей и выставление счетов.</p>
      <p>Разрешение споров и урегулирование претензий.</p>
      <p>Оповещение клиентов о новых услугах и акциях (по согласию клиента).</p>
    </article>
    <article>
      <h5>Защита информации</h5>
      <p>
        Мы принимаем меры безопасности для защиты информации клиентов от
        несанкционированного доступа, утраты, разглашения или изменения. Мы
        осуществляем регулярный мониторинг систем безопасности и обучение наших
        сотрудников в области конфиденциальности.
      </p>
      <p>Разглашение информации</p>
      <p>
        Мы не продаем, не арендуем и не передаем личную информацию клиентов
        третьим сторонам без их явного согласия, за исключением случаев,
        предусмотренных законодательством.
      </p>
      <p>Изменения в политике конфиденциальности</p>
    </article>
    <article>
      <h5>Контакты</h5>
      <p>
        Если у вас есть какие-либо вопросы или предложения по поводу нашей
        политики конфиденциальности, пожалуйста, свяжитесь с нами по следующим
        контактам:
      </p>
      <p>
        Адрес электронной почты:
        <a href="mailto:info@funsim.kz" target="_blank">info@funsim.kz</a>
      </p>
      <p>Телефон: <a href="tel:+77007760707">+7 (700) 776 07 07</a></p>
      <p>
        Спасибо за выбор наших услуг. Мы ценим вашу доверенность и стремимся
        предоставить вам лучший опыт в использовании роуминговых SIM-карт.
      </p>

      <a
        style="text-decoration: underline"
        href="https://online.zakon.kz/Document/?doc_id=31396226"
        target="_blank"
      >
        <b>Закон Республики Казахстан. О персональных данных и их защите.</b>
      </a>
    </article>
  </section>
</ion-content>
