<ion-row>
  <ion-col>
    <ion-button fill="outline" (click)="openOrder('esim')" expand="block">
      <translate
        nameEN="Apply for E-sim"
        nameKZ="E-SIM картасы"
        nameRU="Оформить E-sim"
      />
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button
      fill="outline"
      (click)="openOrder('physical_sim')"
      expand="block"
    >
      <translate
        nameEN="Physical SIM card"
        nameKZ="Физикалық SIM картасы"
        nameRU="Физическая Sim-карта"
      />
    </ion-button>
  </ion-col>
</ion-row>
