<ion-header>
  <ion-toolbar color="light">
    <header class="header">
      <div class="header-start"></div>
      <div class="header-center">
        <ion-text class="header-title"></ion-text>
      </div>
      <div class="header-end">
        <ion-buttons slot="start">
          <ion-back-button text="" icon="close-outline"> </ion-back-button>
        </ion-buttons>
      </div>
    </header>
    <header class="page-header">
      <div class="page-header__start">
        <h2 class="page-title">Выберите стол</h2>
      </div>
      <div class="page-header__end"></div>
    </header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="table">
    <div class="table-header ion-padding">
      <ion-text>Вы выбрали <b>стол на 4 персоны</b></ion-text>
      <ion-note color="primary">
        Предоплата за данный стол 1000₽ *будет учтена при расчете.
      </ion-note>
    </div>
    <div class="table-img">
      <img src="assets/tables.jpg" />
    </div>
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="block"> перейти к оплате </ion-button>
  </ion-toolbar>
</ion-footer>
