<ng-container *ngIf="isSlider">
  <swiper
    [config]="utilsService.cardSwiper('requests')"
    class="my-[min(2vw,_20px)] !px-3 !py-4"
  >
    <ng-template swiperSlide *ngFor="let request of requests">
      <ng-container
        [ngTemplateOutlet]="requestTemplate"
        [ngTemplateOutletContext]="{ request }"
      ></ng-container>
    </ng-template>
  </swiper>
  <div data-requests-navigation class="flex justify-center gap-2">
    <button
      size="m"
      tuiIconButton
      icon="icons/chevron-left.svg"
      shape="rounded"
      data-prev
    ></button>
    <button
      size="m"
      tuiIconButton
      icon="icons/chevron-right.svg"
      shape="rounded"
      data-next
    ></button>
  </div>
</ng-container>
<ng-container *ngIf="!isSlider">
  <div class="auto-columns">
    <ng-container *ngFor="let request of requests">
      <ng-container
        [ngTemplateOutlet]="requestTemplate"
        [ngTemplateOutletContext]="{ request }"
      ></ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #requestTemplate let-request="request">
  <ion-card class="card">
    <div class="flex gap-2 pb-4">
      <button size="s" tuiButton appearance="secondary">
        <span class="font-medium">Заявка №342</span>
      </button>
      <button size="s" tuiButton appearance="secondary">
        <span class="font-medium">Ташкент</span>
      </button>
      <button size="s" tuiButton appearance="secondary">
        <span class="font-medium">01.01.2023</span>
      </button>
    </div>
    <h5 class="line-clamp-2 pb-4 text-lg font-medium text-dark">
      Необходимо заменить смеситель в ванной. Срочно
    </h5>
    <div class="pb-4">
      <p class="text-sm text-medium">Категория:</p>
      <h5 class="line-clamp-1 text-lg font-medium text-primary">
        {{ request.name }}
      </h5>
    </div>
    <div class="pb-3">
      <p class="text-sm text-medium">Ориентировочная цена:</p>
      <h5 class="line-clamp-1 text-xl font-semibold text-dark">200 000 сум</h5>
    </div>
    <div class="mt-2 flex items-center">
      <div class="md:hidden">
        <button
          size="m"
          tuiIconButton
          icon="icons/checkmark.svg"
          shape="rounded"
        ></button>
      </div>
      <div class="hidden md:inline-block">
        <button tuiButton size="m" shape="rounded">
          <span class="text-left font-medium">Принять заявку</span>
        </button>
      </div>
      <div class="ml-auto flex gap-2">
        <button
          size="m"
          tuiIconButton
          style="--tui-text-01: var(--charcoal)"
          icon="icons/share.svg"
          appearance="whiteblock"
          shape="rounded"
          (click)="utilsService.showAlert(copyTemplate)"
        ></button>
        <button
          size="m"
          tuiIconButton
          style="--tui-text-01: var(--charcoal)"
          icon="icons/heart-classic.svg"
          appearance="whiteblock"
          shape="rounded"
          (click)="utilsService.showAlert(favoriteTemplate)"
        ></button>
      </div>
    </div>
  </ion-card>
</ng-template>

<ng-template #favoriteTemplate>
  <tui-notification class="!p-1" size="m" icon="icons/heart-filled.svg">
    <p class="text-[15px] font-semibold">Добавлен в избранное</p>
    <a routerLink="/favorites" class="text-sm text-primary">Перейти</a>
  </tui-notification>
</ng-template>

<ng-template #copyTemplate>
  <tui-notification class="!p-1" size="m" icon="icons/share.svg">
    <p class="text-[15px] font-semibold">Ссылка скопировано</p>
  </tui-notification>
</ng-template>
