<ng-container *subscribe="querySimcards$ as querySimcards">
  <ion-header>
    <ion-toolbar>
      <header>
        <ion-buttons slot="start">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>
          <translate
            nameEN="Renewal requests"
            nameKZ="Жаңарту сұраулары"
            nameRU="Запросы на продление"
          />
        </ion-title>
      </header>
      <ion-progress-bar
        *ngIf="querySimcards.isLoading"
        type="indeterminate"
      ></ion-progress-bar>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <section *ngIf="querySimcards.data as simcards">
      <ng-container *ngFor="let simcard of simcards">
        <ion-card
          class="profile__card"
          *ngIf="simcard.region_group_id && simcard.plan_id"
        >
          <div class="profile__card--header">
            <ion-title size="sm" underline>
              <h5>
                <translate
                  nameEN="SIM CARD"
                  nameKZ="SIM КАРТА"
                  nameRU="СИМ-КАРТА"
                />
                №{{ simcard.id}}
              </h5>
            </ion-title>
            <ion-item lines="none">
              <ion-badge
                [color]="simcard.status ? 'green' : 'warning'"
              ></ion-badge>
              <ion-text [color]="simcard.status ? 'green' : 'warning'">
                {{ simcard.status ? "Активная" : "В процессе" }}
              </ion-text>
            </ion-item>
          </div>
          <div class="profile__card--bottom">
            <ion-label>
              <ion-text>
                <b>
                  <translate nameEN="Tariff" nameKZ="Тариф" nameRU="Тариф" />:
                </b>
              </ion-text>
              <ion-text color="dark">
                <b>{{ simcard.plan?.name }}</b>
              </ion-text>
            </ion-label>
            <ion-label>
              <ion-text>
                <b>
                  <translate
                    nameEN="Order date"
                    nameKZ="Тапсырыс күні"
                    nameRU="Дата заказа"
                  />:
                </b>
              </ion-text>
              <ion-text color="dark">
                <b>{{ simcard.created_at | date : "dd.MM.yyyy" }}</b>
              </ion-text>
            </ion-label>
            <ion-button
              (click)="extSimcard = simcard"
              fill="outline"
              id="extension-alert"
            >
              <ion-icon src="/assets/icons/eye.svg"></ion-icon>
              <ion-text>
                <translate
                  nameEN="Request for extension"
                  nameKZ="Ұзарту туралы өтініш"
                  nameRU="Запрос на продление"
                />
              </ion-text>
            </ion-button>
            <ion-alert
              header="Запрос на продление актуален только в том случае, если вы имеете под рукой сим-карту, полученную от FunSim"
              trigger="extension-alert"
              [buttons]="extensionAlertButtons"
            ></ion-alert>
          </div>
        </ion-card>
      </ng-container>
    </section>

    <ng-container
      *ngIf="!querySimcards.data?.length && !querySimcards.isLoading"
    >
      <ion-title class="ion-text-center ion-padding-vertical" size="lg">
        <h3>
          <translate
            nameEN="Nothing found"
            nameKZ="Еш нәрсе табылмады"
            nameRU="Ничего не найдено"
          />
        </h3>
        <span></span>
      </ion-title>
    </ng-container>
  </ion-content>
</ng-container>
