:focus-visible {
  outline-color: var(--ion-color-primary);
}

.alert-radio-label {
  font-size: 16px;
}

.disabled {
  opacity: 0.8;
  user-select: none;
  pointer-events: none;
  touch-action: none;
}

ion-select {
  font-size: 20px;
  border-radius: 10px;
  padding-inline: 10px;
  box-shadow: 0px 1px 5px 0px rgba(#c7c7c7, 0.4);
}

ion-select::part(text) {
  max-width: 180px;
}

ion-tab-bar {
  --ion-tab-bar-background: var(--ion-color-light);
  --ion-tab-bar-border-color: #d1d1d1;
  --border: 1.35px solid var(--ion-tab-bar-border-color);

  height: 55px;

  ion-tab-button {
    ion-icon {
      font-size: 26px;
    }
    ion-label {
      padding: 2px 0 0;
    }
  }
}

ion-radio {
  display: flex;
  align-items: center;
  width: fit-content;

  ion-icon {
    font-size: 26px;
    margin: 6px 0 0;
  }

  span {
    padding: 0 10px;
    font-size: 20px;
    position: relative;
    top: -6px;
  }
}

ion-toolbar {
  --border-color: var(--ion-color-light);
  --ion-safe-area-bottom: 10px;
  --ion-safe-area-top: 10px;
  --padding-start: 15px;
  --padding-end: 15px;

  header {
    display: grid;
    grid-template-columns: var(--inline, 30px) 1fr var(--inline, 30px);
    align-items: center;
  }

  header > ion-title {
    text-align: center;
  }

  header > ion-title span {
    padding-bottom: 0;
  }
}

ion-row {
  gap: 10px;
}

ion-checkbox {
  --checkmark-color: var(--ion-color-primary);
  width: fit-content;
}

ion-button {
  --padding-end: 15px;
  --padding-start: 15px;
  --border-width: 2px;
}

ion-button > ion-spinner {
  position: absolute;
  margin: auto;
  width: 30px;
  inset: 0;
}

ion-segment {
  --background: #fff;

  width: fit-content;
  padding: 3px;
  box-shadow: 0px 1px 15px 0px rgba(#dcdcdc, 0.5);
  margin-inline: auto;
  border-radius: 25px;
}

ion-segment-button::part(indicator-background) {
  background: var(--ion-color-primary);
}

ion-segment-button {
  --color-checked: #fff;
  --border-radius: 20px;
  --padding-start: 20px;
  --padding-end: 20px;

  font-size: 17px;
  height: 45px;
}

ion-card {
  border-radius: 20px;
  box-shadow: 0px 2px 15px rgba(#000, 0.1);
}

ion-modal.auto-height {
  --height: auto;
}

.bgimage {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile__card {
  gap: 10px;
  display: grid;
  padding: 15px;
}

.profile__card:not(:last-child) {
  margin-bottom: 15px;
}

.profile__card--header {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  ion-title {
    margin-bottom: 0 !important;
  }

  ion-item {
    margin-left: auto;
    padding-left: 20px;
    ion-badge {
      margin-right: 10px;
      border-radius: 50%;
      display: block;
      height: 15px;
      width: 15px;
    }
    ion-text {
      font-weight: 500;
      font-size: 18px;
    }
  }

  ion-button {
    ion-icon {
      margin-right: 10px;
    }
  }
}

.profile__card--bottom {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  ion-label {
    gap: 8px;
    display: inline-flex;
    margin-right: 10px;
  }
  ion-button {
    margin-left: auto;
    ion-icon {
      margin-right: 10px;
    }
  }
}
