<nav class="tabs">
  <ul class="tabs__list">
    <li class="tabs__item">
      <a class="tabs__link " href="/">
        <img src="images/tabs/tabs-home.png" />
        <span>Home</span>
      </a>
    </li>
    <li class="tabs__item">
      <a class="tabs__link active" href="/referral">
        <img src="images/tabs/tabs-refferal.png" />
        <span>Refferal</span>
      </a>
    </li>
    <li class="tabs__item">
      <a class="tabs__link" href="/boost">
        <img src="images/tabs/tabs-boost.png" />
        <span>Boost</span>
      </a>
    </li>
    <li class="tabs__item">
      <a class="tabs__link" href="/wallet">
        <img src="images/tabs/tabs-wallet.png" />
        <span>Wallet</span>
      </a>
    </li>
    <li class="tabs__item">
      <a class="tabs__link" href="/info">
        <img src="images/tabs/tabs-info.png" />
        <span>Info</span>
      </a>
    </li>
  </ul>
</nav>
