<ion-header>
  <ion-toolbar color="light">
    <header class="header">
      <div class="header-start">
        <ion-buttons slot="start">
          <ion-back-button text="" icon="arrow-back-outline"> </ion-back-button>
        </ion-buttons>
      </div>
      <div class="header-center">
        <ion-text class="header-title"></ion-text>
      </div>
      <div class="header-end"></div>
    </header>
    <header class="page-header">
      <div class="page-header__start">
        <h2 class="page-title">Карты</h2>
      </div>
      <div class="page-header__end">
        <button class="link-button" (click)="changing = !changing;">
          {{ changing ? "Готово" : "Изменить" }}
        </button>
      </div>
    </header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <label class="picker">
      <div class="picker__start">
        <img width="45px" src="assets/cards/mir.svg" />
        <div class="picker__value">Карта <span>*4121</span></div>
      </div>
      <div class="picker__end">
        <button class="icon-button" *ngIf="changing">
          <ion-icon name="close-circle" color="red"></ion-icon>
        </button>
        <ng-container *ngIf="!changing">
          <input type="radio" name="payment" checked />
          <div class="picker__check"></div>
        </ng-container>
      </div>
    </label>
    <label class="picker">
      <div class="picker__start">
        <img width="45px" src="assets/cards/mastercard.svg" />
        <div class="picker__value">Карта <span>*7233</span></div>
      </div>
      <div class="picker__end">
        <button class="icon-button" *ngIf="changing">
          <ion-icon name="close-circle" color="red"></ion-icon>
        </button>
        <ng-container *ngIf="!changing">
          <input type="radio" name="payment" />
          <div class="picker__check"></div>
        </ng-container>
      </div>
    </label>
    <label class="picker">
      <div class="picker__start">
        <img width="45px" src="assets/cards/visa.svg" />
        <div class="picker__value">Карта <span>*7727</span></div>
      </div>
      <div class="picker__end">
        <button class="icon-button" *ngIf="changing">
          <ion-icon name="close-circle" color="red"></ion-icon>
        </button>
        <ng-container *ngIf="!changing">
          <input type="radio" name="payment" />
          <div class="picker__check"></div>
        </ng-container>
      </div>
    </label>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="changing">
  <ion-toolbar>
    <ion-button
      expand="block"
      color="primary"
      routerLink="/addcard"
      routerDirection="forward"
    >
      добавить карту
    </ion-button>
  </ion-toolbar>
</ion-footer>
