<section class="py-10 md:py-20">
  <div class="container">
    <div class="pb-5 sm:pb-10">
      <h1 class="title">
        <translate uz="BIZ HAQIMIZDA" ru="О НАС" />
      </h1>
    </div>
    <div class="grid gap-10 md:gap-20 lg:grid-cols-2">
      <div class="text-base text-medium">
        <translate
          uz="HappyTel-Rouming SIM-kartalarini tarqatuvchi kompaniya
        2020 yil yanvar oyida tashkil etilgan"
          ru="HappyTel - компания-дистрибьютор роуминговых SIM-карт, которая была
        создана в январе 2020 года"
        />

        <b>
          <translate
            uz="Respublikada Rouming xizmatlari sanoatining dinamikasini o'zgartirish maqsadida
          O'zbekiston"
            ru="с целью изменить динамику индустрии роуминговых услуг в Республике
        Узбекистан"
          />
        </b>
        <translate
          uz="HappyTel sanoat bilan bog'liq tashkilotlar bilan yaqindan hamkorlik qiladi
        turizm, asosan o'z mijozlarining ehtiyojlarini qondirish uchun
        xalqaro aloqa"
          ru="HappyTel тесно сотрудничает с организациями, связанными с индустрией
          туризма, в основном для удовлетворения потребностей своих клиентов в
          международной связи"
        />

        <b>
          <translate
            uz="Biz butun dunyo bo'ylab tejamkor Rouming SIM-kartalarini taklif qilamiz
          shaxsiy ma'lumotlar rejalari bo'lgan sayohatchilar."
            ru=" Мы предлагаем экономичные роуминговые SIM-карты по всему миру для
          путешественников с индивидуальными тарифными планами."
          />
        </b>
        <div class="py-3"></div>
        <translate
          uz="Qulaylik uchun biz eng yiriklari bilan hamkorlik qildik
        Rouming provayderlari, shuningdek, uyali aloqa operatorlari
        ko'plab mintaqalar."
          ru=" Для большего удобства мы установили партнерские отношения с крупнейшими
        поставщиками услуг роуминга, а также операторами мобильной связи во
        многих регионах."
        />

        <b>
          <translate
            uz="HappyTel barcha ehtiyojlar uchun bir martalik echim sifatida ishlaydi
          sayohatchilar uchun Rouming paytida ulanish."
            ru="HappyTel работает как универсальное решение для всех потребностей в
        подключении во время роуминга для путешественников."
        /></b>
      </div>
      <div>
        <img
          class="w-full max-w-lg md:[rotate:-12deg]"
          src="images/lte-sim-primary.svg"
          alt="AboutLtePrimaryPrimary"
        />
      </div>
    </div>
  </div>
</section>
<section class="bg-white py-10 md:py-20">
  <div class="container">
    <div class="pb-5 sm:pb-10">
      <h1 class="title">
        <translate uz="SERVIS VA PRODUCTLAR" ru="ПРОДУКТЫ И СЕРВИСЫ" />
      </h1>
    </div>
    <div class="grid items-center gap-10 sm:gap-20 md:grid-cols-2">
      <div class="flex justify-center">
        <img
          class="w-40 md:w-60"
          src="images/about-phone.png"
          alt="AboutPhone"
        />
      </div>
      <div class="text-base text-medium">
        <translate
          uz="HappyTel eng yaxshi operatorlarning yuqori sifatli SIM-kartalarini taqdim etadi
        ma'lumotlar va qo'ng'iroqlar uchun butun dunyo bo'ylab mobil aloqa. Bizning
        xalqaro ma'lumotlarga ko'ra ishlab chiqish bizning iste'molchilarimizga
        katta xarajatlar"
          ru="HappyTel предоставляет высококачественные SIM-карты ведущих операторов
        мобильной связи со всего мира для передачи данных и звонков. Наша
        разработка по международным данным позволяет нашим потребителям без
        больших затрат"
        />
        <b>
          <translate
            uz="internetdan uyda bo'lgani kabi foydalaning."
            ru="использовать Интернет так же, как дома."
          />
        </b>
        <div class="py-3"></div>
        <translate
          uz="Elektron pochtadan foydalaning, internetni ko'rib chiqing, yuboring
        kabi ilovalar yordamida xabarlar va qo'ng'iroqlar"
          ru="Пользуйтесь электронной почтой, просматривайте веб-страницы, отправляйте
        сообщения и звонки с помощью таких приложений, как"
        />

        <b>
          <translate
            uz="Telegram, IMO, WhatsApp, Facebook Messenger, FaceTime, iMessage,
          Skype va boshqalar."
            ru="Telegram, IMO, WhatsApp, Facebook Messenger, FaceTime, iMessage,
          Skype и т. д."
          />
        </b>
        <translate
          uz="Sayohat paytida navigatsiya yordamida navigatsiya qilish qulay
        tizimlar."
          ru="Во время путешествий удобно ориентироваться с помощью навигационных
          систем."
        />
      </div>
    </div>
  </div>
</section>
<section class="py-10">
  <div class="container">
    <div class="pb-5 sm:pb-10">
      <h1 class="title">
        <translate
          uz="Qulayliklar va ustun tomonlarimiz"
          ru="Удобства и преимущества сервиса"
        />
      </h1>
    </div>
    <div class="grid-columns--sm">
      <article class="primary-card">
        <div class="primary-card--inner">
          <div class="secondary-card h-72 p-4">
            <img
              class="h-16 object-contain"
              src="images/advantages/01.svg"
              alt="AdvantageIcon"
            />
            <div class="py-3 text-2xl font-bold">
              <h4>
                <translate uz="Narxi" ru="Стоимость" />
              </h4>
            </div>
            <p class="text-lg text-medium">
              <translate
                uz="SIM-kartalarni chakana narxlarga qaraganda arzonroq narxlarda sotib oling
              belgilangan mamlakat do'konlarida."
                ru="Покупайте SIM-карты по более низким ценам, чем в розничных
              магазинах страны назначения."
              />
            </p>
          </div>
        </div>
      </article>
      <article class="primary-card">
        <div class="primary-card--inner">
          <div class="secondary-card h-72 p-4">
            <img
              class="h-16 object-contain"
              src="images/advantages/02.svg"
              alt="AdvantageIcon"
            />
            <div class="py-3 text-2xl font-bold">
              <h4>
                <translate uz="Samaradorlik" ru="Оперативность" />
              </h4>
            </div>
            <p class="text-lg text-medium">
              <translate
                uz="SIM-kartani ulang va undan foydalaning. Ulanishdan keyin faollashadi
              Qurilmaga SIM-kartalar."
                ru="Подключите SIM-карту и пользуйтесь. Активируется после подключения
              SIM-карты к устройству."
              />
            </p>
          </div>
        </div>
      </article>
      <article class="primary-card">
        <div class="primary-card--inner">
          <div class="secondary-card h-72 p-4">
            <img
              class="h-16 object-contain"
              src="images/advantages/03.svg"
              alt="AdvantageIcon"
            />
            <div class="py-3 text-2xl font-bold">
              <h4>
                <translate uz="Тарифы" ru="Тарифы" />
              </h4>
            </div>
            <p class="text-lg text-medium">
              <translate
                uz="Har bir mijozning xohishiga ko'ra moslashuvchan ma'lumotlar rejalari."
                ru="Гибкие тарифные планы по желанию каждого клиента."
              />
            </p>
          </div>
        </div>
      </article>
      <article class="primary-card">
        <div class="primary-card--inner">
          <div class="secondary-card h-72 p-4">
            <img
              class="h-16 object-contain"
              src="images/advantages/04.svg"
              alt="AdvantageIcon"
            />
            <div class="py-3 text-2xl font-bold">
              <h4>
                <translate uz="Texnik yordam" ru="Тех-поддержка" />
              </h4>
            </div>
            <p class="text-lg text-medium">
              <translate
                uz="Mijozlarga xizmat ko'rsatish 24/7"
                ru="Техническое обслуживание клиентов 24/7"
              />
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
