<ion-header>
  <ion-toolbar color="light">
    <header class="header">
      <div class="header-start">
        <ion-buttons slot="start">
          <ion-back-button text="" icon="arrow-back-outline"> </ion-back-button>
        </ion-buttons>
      </div>
      <div class="header-center">
        <ion-text class="header-title"></ion-text>
      </div>
      <div class="header-end"></div>
    </header>
    <header class="page-header">
      <div class="page-header__start">
        <h2 class="page-title">Добавить карту</h2>
      </div>
      <div class="page-header__end"></div>
    </header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-input
    inputmode="tel"
    [innerHTML]="'<img src=\'assets/cards/card-placeholder.svg\' />'"
    placeholder="0000 0000 0000 0000"
    class="custom"
  />
  <ion-row>
    <ion-col size="6">
      <ion-input
        label="мм/гг"
        inputmode="tel"
        placeholder="00/00"
        class="custom"
      />
    </ion-col>
    <ion-col size="6">
      <ion-input label="cvv" inputmode="tel" placeholder="000" class="custom" />
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block"> сохранить </ion-button>
  </ion-toolbar>
</ion-footer>
