<ion-header>
  <ion-toolbar>
    <header>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-title>
        <translate
          nameEN="Public offer"
          nameKZ="Жария ұсыныс"
          nameRU="Публичная оферта"
        />
      </ion-title>
    </header>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <header>
    <h1>ПУБЛИЧНАЯ ОФЕРТА</h1>
    <h4>
      о заключении договора на реализацию SIM-карты иностранного оператора
      радиотелефонной (сотовой) связи
    </h4>
    <p>
      ТОО “Funsim international”, именуемое в дальнейшем Поставщик, в лице
      Ахрарова Л.М, действующего на основании Устава, с одной стороны, заключит
      договор на реализацию SIM-карты иностранного Оператора радиотелефонной
      (сотовой) с любым лицом, принявшим настоящую публичную оферту о заключении
      договора (совершившим акцепт) (далее – Абонент), в порядке,
      предусмотренном настоящей публичной офертой на нижеследующих условиях:
    </p>
  </header>
  <section>
    <article>
      <h5>1. ОПРЕДЕЛЕНИЯ</h5>
      <p>
        Абонент – физическое лицо, пользующееся услугами радиотелефонной
        (сотовой) связи Оператора, посредством SIM-карты, путем совершения
        акцепта в порядке, предусмотренном настоящей оферты.
      </p>
      <p>
        SIM-карта (сим-карта) – модуль идентификации Абонента, имеющий
        собственный идентификатор карты интегральной схемы (ICCID номер),
        предоставленный Оператором.
      </p>
      <p>
        Оператор – иностранный поставщик радиотелефонной (сотовой) связи,
        предоставляемой с использованием SIM-карты.
      </p>
      <p>
        Авторизация - процесс анализа на сервере Поставщика введенных Абонентом
        Аутентификационных данных, по результатам которого определяется наличие
        у Абонента права получить Услуги.
      </p>
      <p>
        Договор (публичная оферта) – документ в электронной форме, заключенный
        между Поставщиком и Абонентом посредством акцепта настоящей публичной
        оферты, совершенного Абонентом путем о внесение Абонентом платежа для
        пользования услугами Оператора, согласно выбранного Абонентом тарифного
        плана.
      </p>
    </article>
    <article>
      <h5>2. ПРЕДМЕТ ДОГОВОРА</h5>
      <p>
        2.1. Поставщик реализует Абоненту SIM-карту иностранного Оператора
        радиотелефонной (сотовой), а Абонент оплачивает Поставщику стоимость
        SIM-карты в полном объеме в соответствии с выбранным тарифом.
      </p>
      <p>
        2.2. Описания услуг иностранного Оператора определены на сайте
        Поставщика и содержат информацию о составе услуг, условиях и порядке их
        оказания, используемых абонентских интерфейсах, диапазоне значений
        показателей качества обслуживания, обеспечиваемых сетью передачи данных.
      </p>
    </article>
    <article>
      <h5>3. ПОРЯДОК ЗАКЛЮЧЕНИЯ ДОГОВОРА И ИЗМЕНЕНИЯ ЕГО УСЛОВИЙ</h5>
      <p>
        3.1. Действующая редакция Договора размещена на сайте Поставщика (
        <a href="https://funsim.kz" target="_blank"> www.funsim.kz </a>
        ).
      </p>
    </article>
    <article>
      <h5>4. ОБЩИЙ ПОРЯДОК ОКАЗАНИЯ УСЛУГ</h5>
      <p>
        4.1. Началом и местом оказания Услуг является момент первой успешной
        Активации SIM-карты в стране прибытия.
      </p>
    </article>
    <article>
      <h5>5. ПОРЯДОК РАСЧЕТОВ</h5>
      <p>5.1. Осуществление платежей Абонентом.</p>
      <p>
        5.1.1. Оплата Услуг производится Абонентом по действующим тарифам
        Поставщика (Оператора) посредством 100% предварительной оплаты любым из
        способов, перечисленных на сайте Поставщика.
      </p>
      <p>
        5.1.2. Платеж производится Абонентом 100% предварительной оплатой до
        фактического получения SIM-карты.
      </p>
      <p>
        5.1.3. Все платежи по Договору осуществляются в национальной валюте
        Республики Казахстан – Тенге.
      </p>
      <p>5.2. Расчет стоимости Услуг.</p>
      <p>
        5.2.1. Основанием для осуществления расчетов за Услуги являются
        показания автоматизированной системы расчётов Поставщика, учитывающего
        объем оказанных Услуг, а также условия настоящего Договора.
      </p>
    </article>
    <article>
      <h5>6. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h5>
      <p>6.1. Поставщик имеет право:</p>
      <p>
        6.1.1. Приостановить оказание Услуг в случае нарушения Абонентом
        требований, установленных действующим законодательством Республики
        Казахстан, в том числе нарушения.
      </p>
      <p>
        6.1.2. Предоставлять при необходимости информацию об Абоненте, в том
        числе его персональные данные, сторонним организациям в установленном
        порядке.
      </p>
      <p>6.2. Поставщик обязан:</p>
      <p>
        6.2.1. Соблюдать сроки и порядок устранения неисправности в сети связи
        Поставщика, препятствующие пользованию Услугами, в соответствии с
        действующими техническими нормами и правилами.
      </p>
      <p>
        6.2.2. Обеспечивать Абоненту круглосуточную информационно-техническую
        поддержку посредством электронных систем. Объем
        информационно-технической поддержки ограничивается конкретными
        вопросами, связанными с оказанием Услуг.
      </p>
      <p>
        6.2.3. Оказывать Абоненту Услуги 24 часа в сутки, за исключением
        перерывов, необходимых для планового ремонта, в случае действия
        обстоятельств непреодолимой силы, а также в иных случаях,
        предусмотренных действующим законодательством Республики Казахстан и
        (или) настоящим Договором.
      </p>
      <p>
        6.2.4. Не предоставлять сведения об Абоненте третьим лицам без его
        письменного согласия, за исключением случаев, предусмотренных
        законодательством Республики Казахстан и настоящим Договором.
      </p>
      <p>6.3. Абонент имеет право:</p>
      <p>
        6.3.1. Требовать устранения неисправностей в сети связи Оператора,
        препятствующих пользованию Услугами.
      </p>
      <p>
        6.3.2. Отказаться в любое время в одностороннем порядке от исполнения
        Договора.
      </p>
      <p>6.4. Абонент обязан:</p>
      <p>
        6.4.1. Не использовать услуги связи и не допускать их использования в
        каких-либо аморальных, непристойных, дискредитирующих, политических,
        религиозных, вредных, оскорбительных или незаконных целях.
      </p>
      <p>
        6.4.2. Не делать, не давать и не применять никаких условий, обещаний,
        гарантий, заявлений или других обязательств в отношении услуг, кроме
        тех, с которыми согласен Поставщик.
      </p>
      <p>
        6.4.3. Оказывать содействие Поставщику с любыми жалобами, запросами или
        любыми расследованиями со стороны любых компетентных органов.
      </p>
      <p>
        6.4.4. Пользоваться Услугами, соблюдая требования действующего
        законодательства Республики Казахстан, а также условий, установленных
        настоящим Договором.
      </p>
      <p>
        6.4.5. Не передавать свои права по настоящему Договору третьим лицам.
      </p>
    </article>
    <article>
      <h5>7. СРОК ДЕЙСТВИЯ И ПОРЯДОК РАСТОРЖЕНИЯ ДОГОВОРА</h5>
      <p>
        7.1. Расторжение Договора не освобождает Стороны от ответственности за
        неисполнение и/или ненадлежащее исполнение Договора.
      </p>
      <p>
        7.2. Поставщик вправе отказаться от исполнения обязательств по
        настоящему Договору, уведомив об этом Абонента по своему сайту, не
        возмещая при этом убытки, которые могут возникнуть в связи с
        прекращением Договора в следующих случаях:
      </p>
      <p>
        7.2.1. Предоставление Услуг может создать угрозу безопасности и
        обороноспособности государства, здоровью и безопасности людей;
      </p>
      <p>
        7.2.2. Предоставление Услуг невозможно ввиду каких-либо физических,
        топографических или иных естественных препятствий, а также в случае
        обстоятельств непреодолимой силы;
      </p>
      <p>7.2.3. Абонент использует Услуги для каких-либо незаконных целей;</p>
      <p>
        7.2.4. Других случаях, предусмотренных законодательством Республики
        Казахстан и настоящим Договором.
      </p>
    </article>
    <article>
      <h5>8. ОТВЕТСТВЕННОСТЬ СТОРОН</h5>
      <p>
        8.1. За неисполнение или ненадлежащее исполнение обязательств по
        Договору Стороны несут ответственность в соответствии с действующим
        законодательством Республики Казахстан.
      </p>
      <p>
        8.2. Поставщик не несет ответственность за снижение качества оказываемых
        Абоненту Услуг иностранным Оператором, если это вызвано неисправностями
        Абонентской лини данного Оператора.
      </p>
      <p>
        8.3. Поставщик не несет ответственности за последствия утраты и/или
        передачи Абонентом своих идентификационных сведений третьим лицам.
      </p>
      <p>
        8.4. Поставщик не несет ответственность за перерывы в предоставлении
        Услуги иностранного Оператора по причине сбоя.
      </p>
      <p>
        8.5. Абонент полностью ответственен за сохранность своих настроек для
        доступа, за все обращения к Услуге иностранного Оператора и действия,
        предпринятые через обращение к Услуге данного Оператора, имевшие место
        при введении Аутентификационных данных Абонента, за убытки, связанные с
        несанкционированным использованием канала доступа Абонента третьими
        лицами.
      </p>
    </article>
    <article>
      <h5>9. УРЕГУЛИРОВАНИЕ СПОРОВ</h5>
      <p>
        9.1. Если споры не будут разрешены путем переговоров, споры подлежат
        разрешению в порядке, установленном действующим законодательством
        Республики Казахстан, при этом стороны обязаны соблюдать претензионный
        порядок, предусмотренный действующим законодательством Республики
        Казахстан.
      </p>
    </article>
    <article>
      <h5>10. ПРОЧИЕ УСЛОВИЯ</h5>
      <p>
        10.1. Настоящий Договор отменяет все предыдущие договоренности по
        соответствующему предмету между Сторонами, письменные и/или устные, если
        таковые были достигнуты ранее по тому же предмету.
      </p>
      <p>
        10.2. Подписанием Публичной Оферты Абонент подтверждает, что ознакомлен
        и согласен с содержанием условий настоящего Договора.
      </p>
      <p>
        10.3 Использование банковской карты: - оплата банковской картой Клиента
        с использованием Сервиса и Платежной системы;
      </p>
    </article>
  </section>
</ion-content>
