.auth-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: left;
  height: 100%;
}

.auth-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.auth-content > *:not(:last-child) {
  margin: 0 0 20px;
}

.auth-title {
  font-weight: 700;
}

.auth-subtitle {
  font-size: 15px;
}

.auth-logo {
  width: 150px;
  align-self: center;
}

.auth-submit {
}

.auth-accept {
  color: #888;
  font-size: 10px;
}
