/* == == == == == == == == == == == == */
/* header */
/* == == == == == == == == == == == == */

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header-start {
}

.header-center {
}

.header-title {
  font-weight: 500;
}

.header-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-back {
  z-index: 3;
  background: transparent;

  ion-icon {
    color: #fff;
    font-size: 18px;
    padding: 3px;
  }
}

/* == == == == == == == == == == == == */
/* info-header */
/* == == == == == == == == == == == == */

.info-header {
  display: flex;
  align-items: center;

  margin: 0 0 10px;
}

.info-header__start {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.info-header__start > *:not(:last-child) {
  margin-right: 4px;
}

.info-header__end {
  ion-text {
    font-size: 11px;
    font-weight: 500;
    text-align: right;
  }
}

/* == == == == == == == == == == == == */
/* page-header */
/* == == == == == == == == == == == == */

.page-header {
  display: flex;
  align-items: center;

  padding: 7px 0;
  margin: 0 0 10px;

  border-bottom: 1.3px solid rgba(#000, 0.1);

  ion-text {
    font-weight: 600;
    padding: 3px 0 0;
  }
}

.page-header__start {
  gap: 5px;
  display: flex;
  align-items: center;

  flex: 1 1 auto;
}

.page-header__end {
}
