.nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  text-align: left;

  background: #fff;
  margin: 0 -2.5px 2px;
  padding: 7px 5px;
}

.nav-item__icon {
  color: #000;

  flex: 0 0 20px;

  font-size: 18px;
}

.nav-item__text {
  padding: 0 10px;
  flex: 1 1 auto;

  font-size: 18px;
  color: #000;
}

.nav-item__arrow {
  padding: 3px;
  color: #000;
  font-size: 22px;
}
