.picker {
  display: flex;
  align-items: center;

  padding: 5px 0 10px;
  border-bottom: 1px solid #e0e0e0;
}

.picker + .helper-text {
  display: block;
  font-size: 13px;
  padding: 10px 0;
}

.picker__start {
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  img {
    margin-right: 10px;
  }
}

.picker__value {
  font-weight: 700;
  font-size: 15px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;

  span {
    padding: 0 5px;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding-right: 15px;
  }
}

.picker__end {
  gap: 5px;
  display: flex;
  align-items: center;

  ion-icon {
    font-size: 25px;
  }

  .icon-button {
    padding: 0;
  }

  input {
    display: none;
  }

  input:checked + .picker__check {
    border: 0;
    background: #aeee1f;
  }

  input:checked + .picker__check::after {
    scale: 1;
  }
}

.picker__check {
  width: 20px;
  height: 20px;

  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 1px solid #000;
  transition: scale 0.2s ease-out;
}

.picker__check::after {
  content: "";
  width: 100%;
  height: 100%;

  scale: 0;
  inset: 0;
  margin: auto;
  position: absolute;
  border-radius: 50%;
  transition: scale 0.2s ease-out;
  background: url("../../assets/icon/check.svg") center no-repeat;
}
